<template>
<section class="container">
    <h2>Задача: {{item.name}}</h2>
    <div>Статус: <span class="state" :class="{'checked': item.checked}">{{item.checked ? 'Выполнено' : 'Не выполнено'}}</span></div>
    <section>{{item.description}}</section>
    <nuxt-link :to="`/edit/${item.id}`">
        <button class="btn__item yellow">Редактировать</button>
    </nuxt-link>

    <button @click="removeTask(item)" class="btn__item red">Удалить задачу</button>
</section>
</template>

<script>
import {
    mapState
} from 'vuex'
import update from '../../mixins/update.js'
export default {
    data() {
        return {}
    },

    mixins: [update],
    created(){
        console.log(1111)
    },
    mounted() {
        this.$store.dispatch('setTodoList')
    }
}
</script>
