<template>
<section class="container">
    <div>
        <nuxt-link :to="`/add`">
            <button class="btn__item light">Добавить задачу</button>
        </nuxt-link>
    </div>

    <ul>
        <li v-for="item in finalFilter" :key="`item-${item.id}`">
            <div>Категория: {{categories[item.category]}}</div>
            <div><span class="state" :class="{'checked': item.checked}">{{item.checked ? 'Выполнено' : 'Не выполнено'}}</span>
                <span>{{item.name}}</span></div>
            <div>Описание: {{item.description}}</div>
            <div class="btn__items">
                <nuxt-link :to="`/list/${item.id}`">
                    <button class="btn__item green">Посмотреть</button>
                </nuxt-link>
                <nuxt-link :to="`/edit/${item.id}`">
                    <button class="btn__item yellow">Редактировать</button>
                </nuxt-link>

                <button @click="removeTask(item)" class="btn__item red">Удалить задачу</button>

            </div>

        </li>
    </ul>
</section>
</template>

<script>
import {
    mapState,
    mapMutations
} from 'vuex'
import update from '../../mixins/update.js';
const categories = {
    main: 'Основные задачи',
    buy: 'Список покупок',
    work: 'Рабочие задачи'
}

export default {
    computed: {
        ...mapState({
            items: state => state.list,
            filterCheck: state => state.filterCheck,
            filterCategory: state => state.filterCategory
        }),

        categories() {
            return categories
        },

        startFilter() {
            if (this.items.length && this.filterCategory != 'all') {
                return this.items.filter(item => item.category == this.filterCategory)
            }
            return this.items.filter(item => item.category != this.filterCategory)
        },
        finalFilter() {
            if (this.items.length && this.filterCheck != null) {
                return this.startFilter.filter(item => item.checked == this.filterCheck)
            }
            return this.startFilter.filter(item => item.checked != this.filterCheck)
        },
    },

    mixins: [update],

    created() {
        this.$store.dispatch('setTodoList')
    }
}
</script>

<style>
.container {
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

li {
    width: calc(25% - 20px);
    margin: 10px;
    border: 2px solid #881281;
    ;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.state {
    color: brown;
}

.checked {
    color: #30b330;
    ;
}

.btn__item {
    outline: none;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.green {
    background: green;
}

.yellow {
    background: #a2a262;
}

.red {
    background: crimson;
}

.light {
    background: #64dfb7;
}
</style>

s
