<template>
<footer>
    @copyright
</footer>
</template>

<script>
export default {
    data() {
        return {

        }
    },
}
</script>

<style lang="scss">
footer {
    padding: 20px 0;
    text-align: center;
}
</style>
