<template>
<header>
    <h1>TO DO LIST</h1>
    <div>
        <span>Отфильтровать по категория</span>
        <select v-model="filterCategoryModal">
            <option v-for="item in categories" :value="item.code" :key="item.code">{{item.name}}</option>
        </select>
    </div>
    <div>
        <span>Отфильтровать по выполнению</span>
        <select id="" v-model="filterCheckModal">
            <option v-for="item in checked" :key="item.code" :value="item.code">{{item.name}}</option>
        </select>
    </div>
</header>
</template>

<script>
import {
    mapState,
    mapMutations
} from 'vuex'
export default {
    data() {
        return {
            categories: [{
                    code: 'main',
                    name: 'Основные задачи',
                },
                {
                    code: 'buy',
                    name: 'Список покупок',
                },
                {
                    code: 'work',
                    name: 'Рабочие задачи',
                },
                {
                    code: 'all',
                    name: 'Все'
                }

            ],

            checked: [{
                    name: 'Выполнено',
                    code: true
                },
                {
                    name: 'Не выполнено',
                    code: false
                },
                {
                    name: 'Все',
                    code: null
                }
            ]
        }
    },

    computed: {
        ...mapState({
            filterCategory: state => state.filterCategory,
            filterCheck: state => state.filterCheck
        }),

        filterCategoryModal: {
            get() {
                return this.filterCategory
            },

            set(val) {
                this.setFilteCategory(val)
            }
        },

        filterCheckModal: {
            get() {
                return this.filterCheck
            },

            set(val) {
                this.setFilteCheck(val)
            }
        }

    },

    methods: {
        ...mapMutations({
            setFilteCategory: 'SET_FILTER_CATEGORY',
            setFilteCheck: 'SET_FILTER_CHECK'
        })
    }
}
</script>

<style lang="scss">
header {
    text-align: center;
    padding: 20px;
}
</style>
