<template>
<section class="container">
    <h2>Редактировать задачу</h2>
    <input v-model="formName" type="text">
    <textarea v-model="formDescription" placeholder="введите несколько строчек"></textarea>
    <select v-model="formCategory">
        <option v-for="item in categories" :value="item.code" :key="item.code">{{item.name}}</option>
    </select>
    <select v-model="isChecked">
        <option :value="false">Не выполнено</option>
        <option :value="true">Выполнено</option>
    </select>
    <button @click="saveTask">Сохранить</button>
</section>
</template>

<script>
import {
    mapState,
    mapMutations
} from 'vuex'
import update from '../../mixins/update.js';
export default {
    data() {
        return {
            categories: [{
                    code: 'main',
                    name: 'Основные задачи',
                },
                {
                    code: 'buy',
                    name: 'Список покупок',
                },
                {
                    code: 'work',
                    name: 'Рабочие задачи',
                }
            ],
            form: {
                name: '',
                description: '',
                category: '',
                checked: ''
            },

        }
    },
    mixins: [update],

    computed: {
        formName: {
            get() {
                return this.form.name
            },

            set(val) {
                this.form.name = val
            }
        },

        formDescription: {
            get() {
                return this.form.description
            },

            set(val) {
                this.form.description = val
            }
        },

        formCategory: {
            get() {
                return this.form.category
            },

            set(val) {
                this.form.category = val
            }
        },
        isChecked: {
            get() {
                return this.form.checked
            },

            set(val) {
                this.form.checked = val
            }
        }
    },

    methods: {
        ...mapMutations({
            edit: 'SET_ITEMS'
        }),

        saveTask() {
            let items = this.items
            let el = {
                ...this.form,
                id: this.item.id
            }
            let idx = this.items.indexOf(this.item)

            items.splice(idx, 1, el)
            this.edit(items)
            this.update();
            this.$nuxt.$router.push({
                path: '/list'
            })
        },
    },

    created() {
        this.form.name = this.item.name
        this.form.description = this.item.description
        this.form.category = this.item.category
        this.form.checked = this.item.checked
    }
}
</script>
