<template>
<section class="container">
    <h2>Добавить задачу</h2>
    <input v-model="form.name" type="text">
    <textarea v-model="form.description" placeholder="введите несколько строчек"></textarea>
    <select v-model="form.category">
        <option v-for="item in categories" :value="item.code" :key="item.code">{{item.name}}</option>
    </select>
    <button @click="addTask">Добавить</button>
</section>
</template>

<script>
import {
    mapState,
    mapMutations
} from 'vuex'
import update from '../mixins/update.js';
import {
    v4 as uuidv4
} from 'uuid';
export default {
    data() {
        return {
            categories: [{
                    code: 'main',
                    name: 'Основные задачи',
                },
                {
                    code: 'buy',
                    name: 'Список покупок',
                },
                {
                    code: 'work',
                    name: 'Рабочие задачи',
                }
            ],
            form: {
                name: '',
                description: '',
                category: 'main',
                checked: false
            }

        }
    },
    mixins: [update],

    methods: {
        ...mapMutations({
            add: 'ADD_TODO_ITEM'
        }),
        addTask() {
            let form = this.form
            form.id = uuidv4()
            this.add(this.form)
            this.update();
            this.$nuxt.$router.push({
                path: '/'
            })
        }
    }
}
</script>
